In [1]:
import pandas as pd
import numpy as np

In [4]:
sent_data=pd.read_csv('C:\\Users\\SHINEROSE\\Downloads\Lesson 9 - 2\\imdb_labelled.txt', sep='\t', names=['comment', 'label'])

In [5]:
sent_data.head(10)      #1 mean positive comment while 0 means negative comment

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1
5  The rest of the movie lacks art, charm, meanin...      0
6                                Wasted two hours.        0
7  Saw the movie today and thought it was a good ...      1
8                               A bit predictable.        0
9  Loved the casting of Jimmy Buffet as the scien...      1

In [7]:
sent_data.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [8]:
sent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  748 non-null    object
 1   label    748 non-null    int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [9]:
sent_data.groupby('label').describe()

      comment
        count unique                 top freq
label
0         362    361  Not recommended.      2
1         386    384             10/10      2

In [10]:
sent_data['length']=sent_data['comment'].apply(len)

In [11]:
sent_data.head(10)

                                             comment  label  length
0  A very, very, very slow-moving, aimless movie ...      0      87
1  Not sure who was more lost - the flat characte...      0      99
2  Attempting artiness with black & white and cle...      0     188
3       Very little music or anything to speak of.        0      44
4  The best scene in the movie was when Gerardo i...      1     108
5  The rest of the movie lacks art, charm, meanin...      0     114
6                                Wasted two hours.        0      19
7  Saw the movie today and thought it was a good ...      1      79
8                               A bit predictable.        0      20
9  Loved the casting of Jimmy Buffet as the scien...      1      59

In [15]:
#to view the first comment
sent_data[sent_data['length']>50]['comment']

0      A very, very, very slow-moving, aimless movie ...
1      Not sure who was more lost - the flat characte...
2      Attempting artiness with black & white and cle...
4      The best scene in the movie was when Gerardo i...
5      The rest of the movie lacks art, charm, meanin...
                             ...
737    :) Anyway, the plot flowed smoothly and the ma...
738    The opening sequence of this gem is a classic,...
743    I just got bored watching Jessice Lange take h...
744    Unfortunately, any virtue in this film's produ...
747    All in all its an insult to one's intelligence...
Name: comment, Length: 514, dtype: object

In [16]:
sent_data[sent_data['length']>50]['comment'].iloc[0]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

In [18]:
#WE START THE TEXT PROCESSING WITH THE VECTORIZER
from sklearn.feature_extraction.text import CountVectorizer
my_vector=CountVectorizer()

In [20]:
#we remove the stopwords from the comments
import string
import nltk
from nltk.corpus import stopwords
def message_text_processing(mess):
    no_punctuation=[char for char in mess if char not in string.punctuation]
    no_punctuation="".join(no_punctuation)
    nltk.download('stopwords')
    return [word for word in no_punctuation.split() if word.lower() not in stopwords.words()]

In [21]:
bag_of_words=my_vector.fit(sent_data['comment'])

In [32]:
#we store the bagofwords by applying the transform method
stored_bagofwords=bag_of_words.transform(sent_data['comment'])

In [23]:
#we apply the tf-idf transformer and fit the bag of words into it.
from sklearn.feature_extraction.text import TfidfTransformer

In [24]:
my_transformer=TfidfTransformer()

In [25]:
#we fit the stored bagofwords into the tfidftransformer
transformer_bagofwords=my_transformer.fit(stored_bagofwords)

In [26]:
#we store the transformer using the transform method
stored_transformer=transformer_bagofwords.transform(stored_bagofwords)

In [28]:
print(stored_transformer.shape)

(748, 3051)

In [30]:
#we choose the naive bayes model to detect the spam and fit the model into it
from sklearn.naive_bayes import MultinomialNB

In [31]:
my_naive_bayes=MultinomialNB()

In [33]:
sentiment_detect_model=my_naive_bayes.fit(stored_transformer, sent_data['label'])

In [34]:
#now we test the model for expected response for comment 1 and comment 5
comment1=sent_data['comment'][1]
bagofwords_comment1=bag_of_words.transform([comment1])
comment1_transformer=transformer_bagofwords.transform(bagofwords_comment1)
print('predicted', sentiment_detect_model.predict(comment1_transformer)[0])
print('expected', sent_data.label[1])

predicted 0
expected 0

In [35]:
comment5=sent_data['comment'][5]
bagofwords_comment5=bag_of_words.transform([comment5])
comment5_transformer=transformer_bagofwords.transform(bagofwords_comment5)
print('predicted', sentiment_detect_model.predict(comment5_transformer)[0])
print('expected', sent_data.label[5])

predicted 0
expected 0

In [38]:
comment4=sent_data['comment'][4]
bagofwords_comment4=bag_of_words.transform([comment4])
comment4_transformer=transformer_bagofwords.transform(bagofwords_comment4)
print('predicted', sentiment_detect_model.predict(comment4_transformer)[0])
print('expected', sent_data.label[4])

predicted 1
expected 1